.login-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottomSelect {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.boxShadowInput {
  box-shadow: -1px 13px 30px rgba(255, 121, 112, 0.75);
}
.touristsButton {
  color: #f6386f;
  text-decoration: underline;
  text-decoration-color: #f6386f;
  margin-top: 10;
  font-size: 16;
}
.touristView {
  display: flex;
  flex-direction: row;
}
.checkImg {
  width: 33px;
  height: 33px;
}
.checkRightText {
  color: #ffffff;
  font-size: 28px;
  margin-left: 10px;
}
