.bodyOut {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.topSearch { 
  height: 200px;
  width: 100%;
  background-color: #ccc;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  // position:absolute;
  // top: 0;
  // z-index: 1;
}
.searchInput {
  min-width: 65%;
  min-height: 60px;
  background-color: white;
  border-radius: 5px;
}
.searchRightButton {
  display: flex;
  align-items: center;
  min-width: 22%;
  line-height: 60px;
  min-height: 60px;
}

.searchRightButtonIcon {
  margin-left: 10px;
  font-size: 40px;
}
.cardBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.cardBodyLeft {
  display: flex;
  flex-direction: row;
}
.cardRightHeat {
  position: absolute;
  right: 0;
}
.row { 
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cardContentBottomLeft {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.cardContentBottomCenter {
  padding: 10px;
}
.cardCenterContent {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}