.container {
  width: 100%;
  position: relative;
}
.controls {
  width: 100%;
}
.img {
  width: 100%;
  height: 700px;
  max-width: 100%;
}
.rightTopImgAdd {
  position: absolute;
  top: 15%;
  left: 2%;
}
.leftIconGoBack {
  color: white;
  font-size: 58px;
}
.imgArray {
  position: absolute;
  bottom: 16%;
  display: flex;
  flex-direction: row;
}
.selectImgArrayOneImg {
  border: 3px solid #ffffff;
  border-radius: 10px;
}
.bottomText {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  bottom: 1%;
  width: 100%;
}
.bottomTwoText {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  bottom: 8%;
  width: 100%;
}
.iconSizeStyle {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.absoluteBlurView {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 15px;
}
.bottomButton {
  width: 100%;
  background-color: white;
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  // position: absolute;
  // bottom: 0;
}